.font-awesome {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pointer {
    cursor: pointer;
}

.height100 {
    min-height: 100%;
    min-height: 100vh;
    max-height: 100%;
    max-height: 100vh;
    height: 100%;
    height: 100vh;
}

.flex {
    display: flex;
    &.flex-wrap {
        flex-wrap: wrap;
    }
}

@bg-aside: #2A3F54;

@gray-light: #EEE;
@gray-light2: #DDD;

@main-transition: all .2s ease;

@main-padding: 15px;

@contrast-color: #ECF0F1;
@contrast-color-hover: @white;

.main-transition {
    .transition(@main-transition);
}

.fa.t3a-checkbox {
    font-size: 1.2em;
    .pointer;
}


html {
    height: 100%;

    body.t3-admin {
        height: 100%;
        line-height: 1.15;
        background: @bg-aside;

        select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {
            height: auto;
            max-width: 100%;
            .placeholder(darken(@gray-light, 25%));
        }

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            line-height: 1.1;
            color: @headings-color;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 10px;
        }

        h3, .h3 {
            font-size: 18px;
            font-weight: 400;
        }

        p {
            margin: 0;
            &+ p {
                margin-top: 5px;
            }
            &+ input, &+ textarea {
                margin-top: 5px;
            }
            &+ textarea {
                margin-top: 5px;
            }
        }
        input {
            &+ p {
                margin-top: 5px;
            }
            &+ input, &+ textarea {
                margin-top: 5px;
            }
            &+ textarea {
                margin-top: 5px;
            }
        }

        a:not(.chosen-single):not(.btn) {
            color: @link-color;
            .main-transition;
            &:hover {
                text-decoration: none;
                color: lighten(@link-color, 20%);
            }
        }

        ul {
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            list-style: none;
        }

        .affix {
            z-index: 150;
        }

        .t3-module {
            margin-bottom: 0; 
        }

        .alert {
            margin-bottom: 0;
            &.alert-warning {
                .alert-message {
                    background: inherit;
                    border-color: inherit;
                    color: inherit;
                }
            }
        }

        .form-group {
            label {
                display: block;
                width: 100%;
                margin-bottom: 5px;
            }
            .form-control {
                width: 100%;
            }
        }

        .input-group {
            background: transparent;
            display: inline-block;
            height: 30px;
            position: relative;
            input {
                max-width: calc(~"100% - 38px")!important;
                width: calc(~"100% - 38px")!important;
            }
            .input-group-addon {
                border: 0;
                .border-radius(0);
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                line-height: inherit;
                vertical-align: initial;
                height: 100%;
                width: 38px;
                max-width: 38px;
                overflow: hidden;
            }
        }

        label {
            margin-bottom: 0;
            &.control-label {
                display: block;
                margin-bottom: 5px;
            }
            & + p {
                margin-top: 5px;
            }
        }

        .control-group {
            margin-bottom: 0;
            > input {
                width: 100%;
                .main-transition;
                &.invalid {
                    border: 1px solid @brand-danger!important;
                }
            }
            > label {
                display: block;
                margin-bottom: 5px;
                width: 100%;
            }
            .input-group {
                width: 100%;
            }
            .t3a-checkbox + label {
                margin-left: 5px;
            }
            &.has-icon {
                position: relative;
                [class*='has-icon'] {
                    position: static;
                    z-index: 1;
                }
                .has-icon-left {
                    padding-left: 45px;
                }
                .has-icon-right {
                    padding-right: 45px;
                }
                .control-group-icon {
                    position: absolute;
                    top: 5px;
                    bottom: 5px;
                    color: rgba(0,0,0,.35);
                    z-index: 2;
                    width: 37.5px;
                    font-size: 1.5em;
                    .flex;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid rgba(0,0,0,.35);
                    &.icon-right {
                        right: 0; 
                        border-left: 1px solid rgba(0,0,0,.35);
                        border-right: none;
                    }
                    &.t3a-show-password {
                        border-left: none;
                        .pointer;
                        .main-transition;
                        &:hover {
                            color: rgba(0,0,0,.55);
                        }
                        &.visible {
                            &:before {
                                content: "\f070";
                            }
                        }
                    }
                }
            }
        }

        hr {
            border-top: 1px solid @gray-light;
            margin-top: @main-padding;
            margin-bottom: @main-padding;
            &.smaill-divider {
                margin-top: @main-padding / 2;
                margin-bottom: @main-padding / 2;
            }
        }

        .nav {
            &.nav-tabs {
                border-bottom: none;
                li {
                    a {
                        border-bottom-color: transparent;
                        margin-right: 0;
                    }
                    &:not(.active) {
                        a {
                            border-bottom-color: @gray-light2;
                        }
                        &:hover {
                            a {
                                border-top-color: transparent;
                                border-left-color: transparent;
                                border-right-color: transparent;
                            }
                        }
                    }
                }
                &:not(.nav-stacked) {
                    li {
                        a {
                            background: @white;
                        }
                    }
                }
                &.nav-stacked {
                    li {
                        a {
                            border: 0;
                        }
                    }
                }
            }
        }

        .tab-content {
            border: 1px solid @gray-light2;
            padding: @main-padding;
            margin-bottom: @main-padding;
            background: @white;
        }

        .well {
            .border-radius(0);
            padding: 15px;
        }

        .btn {
            font-size: 14px;
            padding: @main-padding - 5px;
            .main-transition;
            border-radius: 0;
            outline: 0!important;
            vertical-align: initial;
            color: rgba(255,255,255,.85);
            border: 1px solid rgba(0,0,0,0.1);
            background: rgba(0,0,0,.15);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 100%;
            &:hover {
                color: rgba(255,255,255,1);
                background: rgba(0,0,0,.25);
            }
            &.btn-primary {
                background: @brand-primary;
                &:hover {
                    background: darken(@brand-primary, 10%);
                }
            }

            &.btn-square {
                min-height: 60px;
                > * {
                    display: block;
                    width: 100%;
                    &:first-of-type {
                        margin-bottom: 5px;
                    }
                }
            }
            &.btn-warning {
                background: @brand-warning;
                &:hover {
                    background: darken(@brand-warning, 10%);
                }
            }
            &.btn-danger {
                background: @brand-danger;
                &:hover {
                    background: darken(@brand-danger, 10%);
                }
            }
            &.btn-info {
                background: @brand-info;
                &:hover {
                    background: darken(@brand-info, 10%);
                }
            }
            &.btn-success {
                background: @brand-success;
                &:hover {
                    background: darken(@brand-success, 10%);
                }
            }
            &.btn-sm {
                font-size: 11px;
                padding-top: (@main-padding) / 2;
                padding-bottom: (@main-padding) / 2;
                color: rgba(255,255,255,1);
            }
        }

        .btn-group {
            .btn {
                border: none!important;
                margin: 0!important;
            }
            &:not(.btn-group-vertical) {
                .btn + .btn {
                    border-left: 1px solid rgba(0,0,0,0.1)!important;
                }
            }
            &.btn-group-vertical {
                width: 100%;
                .btn {
                    width: 100%;
                    .border-radius(0);
                }
            }
            &.btn-group-square {
                .btn {
                    min-height: 60px;
                    > * {
                        display: block;
                        width: 100%;
                        &:first-of-type {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            &.btn-group-small {
                .btn {
                    font-size: 11px;
                    padding-top: (@main-padding) / 2;
                    padding-bottom: (@main-padding) / 2;
                    color: rgba(255,255,255,1);
                }
            }
        }

        > .t3a-aside {
            background: @bg-aside;
            height: 100%;

            .t3a-sidebar-wrapper {
                height: 100%;
                position: relative;
                padding-top: @main-padding;
                padding-bottom: @main-padding;
                &.affix {
                    position: fixed;
                }
            }
            .t3a-header {
                font-size: 22px;
                margin-bottom: 15px;
            }
            .user-profile {
                color: @contrast-color;
                margin-bottom: @main-padding;
                .flex;
                align-items: center;
                .notification {
                    background: rgba(0,0,0,.15);
                    color: rgba(255,255,255,.15);
                    padding: @main-padding / 2 ;
                    .border-radius(100%);
                    .main-transition;
                    &:not(.inactive):hover {
                        .pointer;
                        background: rgba(0,0,0,.35);
                        color: rgba(255,255,255,.35);
                    }
                }
            }
            .t3a-navbar {
                .accordeonck {
                    > ul.menu {
                        font-size: 13px;
                        font-weight: 500;
                        border-bottom: 1px solid rgba(0,0,0,0.1);
                        padding: 0;
                        margin: 0;
                        > li { 
                            border-top: 1px solid rgba(0,0,0,0.1);
                            .box-shadow(inset 0 1px 0 rgba(255,255,255,0.05));
                            span.accordeonck_outer {
                                display: block;
                            }
                            a {
                                display: inline-block;
                                padding: @main-padding;
                                color: @contrast-color;
                                .main-transition;
                                &:hover {
                                    color: @contrast-color-hover;
                                }
                            }
                            span.toggler_icon {
                                float: right;
                                &:before {
                                    .main-transition;
                                    padding: @main-padding;
                                    .font-awesome;
                                    content: "\f078";

                                    color: @contrast-color;
                                    .pointer;
                                }
                            }
                            &.open {
                                span.toggler_icon {
                                    &:before {
                                        .rotate(180deg);
                                    }
                                }
                            }
                            &.active {
                                a.isactive {
                                    color: @link-color;
                                }
                            }
                        }
                        ul {
                            text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
                            border-right: 5px solid @brand-primary;
                            background: rgba(0,0,0,.1);
                            padding: 0;
                            li {
                                .main-transition;
                                &:hover {
                                    background: rgba(0,0,0,.1);
                                }
                                a {
                                    padding-left: @main-padding * 2;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

            .t3a-footer {
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                > ul {
                    background: darken(@bg-aside, 5.5%);
                    > li {
                        padding-top: (@main-padding / 2);
                        padding-bottom: (@main-padding / 2);
                        color: @brand-primary;
                        font-size: 20px;
                        a {
                            opacity: .85;
                            &:hover {
                                opacity: 1;
                            }
                        }
                        &.powered-by {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        &.guest-user {
            > .t3a-wrapper {
                .flex;
                align-items: center;
                justify-content: center;
            }
        }

        > .t3a-wrapper {
            background: @body-bg;
            min-height: 100%;
            height: auto;
            .t3a-header-toolbar {
                background: @white;
                .main-transition;
                min-height: 54px;
                height: 54px;
                max-height: 54px;
                &.affix {
                    z-index: 155;
                }
                .t3a-profile {
                    background: transparent;
                    .flex;
                    align-items: center;
                    font-size: 12px;
                    padding-left: @main-padding;
                    padding-right: @main-padding;
                    border-left: 1px solid @gray-light;
                    .main-transition;
                    position: relative;
                    line-height: 54px;
                    > div {
                        padding-left: @main-padding / 2;
                        padding-right: @main-padding / 2;
                        .pointer;
                        &:last-of-type {
                            padding-right: 0;
                        }
                    }
                    > nav {
                        background: white;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        position: absolute;
                        z-index: 155;
                        display: none;
                        ul {
                            li {
                                line-height: 1.1;
                                padding: @main-padding / 2;
                            }
                        }
                    }
                    .toggle-menu {
                        .main-transition;
                    }
                    &.opened {
                        .toggle-menu {
                            .rotate(180deg);
                        }
                    }
                }
            }

            > .t3a-main {
                .t3a-toolbar {
                    background: @gray-light;
                    .main-transition;
                    .btn-group {
                        .btn {
                            min-width: 75px;
                        }
                    }

                    &.affix {
                        .box-shadow(0 3px 2px 0 rgba(50, 50, 50, 0.5));
                    }

                    > .btn-group {
                        .btn {
                            border-top: 0;
                            border-bottom: 0;
                        }
                    }
                }

                @media screen and (min-width: 768px) {
                    .col-sm-12 + .col-sm-12 {margin-top: 15px}
                } 

                .modal {
                    &.message {
                        #system-message-container {
                            > div {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

            }

            .table {
                font-size: 13px;
                > thead  {
                    background: @bg-aside;
                    > tr {
                        > th {
                            border: none;
                            color: @contrast-color;
                        }
                    }
                }
                > tbody {
                    > tr {
                        &:nth-of-type(odd) {
                            background: #f9f9f9;
                        }
                        > td {
                            border: none;
                            padding: @main-padding / 2;
                            vertical-align: middle;
                        }
                    }
                }
                > tfoot {
                    > tr {
                        > td {
                            padding: @main-padding / 2;
                        }
                    }
                }
            }

            .alert {
                .border-radius(0);
            }

            .modal-content {
                .border-radius(0);
            }

            input:not([type='checkbox']), textarea, select {
                .border-radius(0);
                .box-shadow(none);
                background: @gray-light;
                border: none;
                display: inline;
                margin: 0;
                padding: 5px;
                &:focus {
                    border: none;
                    outline: none;
                    .box-shadow(none);
                }
            }
            select {
                cursor: pointer;
            }
            textarea {
                width: 100%;
            }

            .t3a-form {
                .field {
                    display: inline-block;
                    position: relative;
                    &:before {
                        .font-awesome;
                        .flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        bottom: 4px;
                        top: 0;
                        left: 0;
                        width: 36px;
                        height: 100%;
                        line-height: 100%;
                        text-align: center;
                        border-right: 1px solid #DDD;
                        color: #AAA;
                    }
                    input, select {
                        background: rgba(255,255,255,.5);
                    }
                    input {
                        .main-transition;
                        max-width: 100%;
                        &:active, &:focus, &.active {
                            background: rgba(255,255,255,1);
                        }
                        &[type=search] {
                            padding-left: 50px;
                        }
                    }
                    button {
                        display: inline;
                    }
                    &.search {
                        min-height: 100%;
                        max-width: 100%;
                        &:before {
                            content: "\f002";
                        }
                    }
                    > label {
                        display: block;
                        margin-bottom: 5px;
                    }
                }
            }

            .panel {
                margin-bottom: @main-padding;
                border: 1px solid #E6E9ED;
                padding: 0;
                .border-radius(0);
                &> .panel-heading {
                    padding: @main-padding;
                    background: transparent;
                    border-bottom: 0;
                    h1, h2, h3 {
                        margin-bottom: 0;
                    }
                    &> .panel-title {
                        margin: 5px 0 5px;
                        display: block;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    &+ .panel-body {
                        border-top: 1px solid #E6E9ED;
                        padding-top: 15px;
                    }
                }
                &> .panel-body {
                    padding: @main-padding;
                }
                &> .panel-footer {
                    padding: @main-padding;
                    .clearfix;
                }
                &.panel-default {
                    background: #fff;
                    &> .panel-heading {
                        border-bottom-color: #E6E9ED;
                    }
                }
            }

            .t3a-pagination {
                ul.pagination {
                    > li:first-child, > li:last-child {
                        > a, span {
                            .border-radius(0);
                        }
                    }
                    li {
                        a {
                            background: @gray-light;
                            border: 0;
                            margin: 0;
                        }
                        &.active {
                            a {
                                background: @brand-primary;
                                color: @contrast-color;
                            }
                        }
                    }
                }
                @media screen and (max-width: 767px) {
                    > div.col-xs-12 + div.col-xs-12 {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    &.com_users {
        .login {
            fieldset {
                .control-group {
                    &+.control-group {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    html {
        body.t3-admin {
            .transition(all .2s ease);

            &.menu-opened {
                margin-left: 100%;
                overflow: hidden;
                .t3a-wrapper {
                    position: fixed;
                    left: 100%;
                }
            }
            header {
                &#t3a-header {
                    .toggle-menu {
                        color: #ecf0f1;
                        font-size: 24px;
                    }
                }
            }
            > .t3a-aside {
                overflow: auto;
                max-height: 100vh;
                width: 100vw;
                position: fixed;
                top: 0;
                margin-left: -100%;
                .t3a-sidebar-wrapper {
                    min-height: 100%;
                    height: auto;
                    padding-bottom: 37px;
                    footer {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                }
            }
            .t3a-header-toolbar {
                .toggle-menu {
                    font-size: 1.75em;
                    line-height: 54px;
                }
            }
        }
    }
}

@media print {
    @page {
        size: auto;
        margin: 10mm;
    }
    .make-grid(md);

    .visible-xs {
        .responsive-invisibility();
    }

    .hidden-xs {
        .responsive-visibility();
    }

    .hidden-xs.hidden-print {
        .responsive-invisibility();
    }

    .hidden-md {
        .responsive-invisibility();
    }

    .visible-md {
        .responsive-visibility();
    }
    html {
        body.t3-admin {
            margin: 0;
            width: 100%;
            aside.t3a-aside {
                display: none;
            }
            .t3a-wrapper {
                width: 100%!important;
                header.t3a-header-toolbar, .t3a-header-toolbar-placeholder, .t3a-toolbar, .t3a-toolbar-placeholder {
                    display: none;
                }
            }
            .t3a-pagination {
                display: none;
            }
        }
    }
}